# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\matte\Documents\Data\01_Universitaet\02_TH_Koeln\06_Semester\04_Machine_Learning_Project\CNN_Architecture\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
